
.navbar { margin-bottom:0px; }
.container {
    width: 90%;
}
.navbar-login {float:right;width:auto; }
.navbar-login li { min-width:80px;text-align:center;display: inline-block;}
.navbar-login > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}